#pagewrap {
    display: grid;
    align-items: top;    /*Vertical align*/
    justify-items: center;    /*Horizontal align*/

}

#introduction {
    display: flex;
    flex-direction: column;
}

    #introduction p {
        width: 70%;
        text-align: center;
        align-self: center;
    }

    #fcc {
        font-family: 'DM Serif Text', serif;
        font-size: 2em;
    }
    #p-name{
        font-family: 'Russo One', sans-serif;
        font-size: 1.7em;
    }
    #p-desc{
        font-size: 1em;
    }

    
#input{
    align-self: start;
    justify-self: center;
    font-size: 1em;
}

#output{
    align-self: bottom;
    justify-self:  center;
    width: 90%;
    background: rgba(142, 161, 131, 0.432);
    text-align: center;
    text-justify: center;
    border-radius: 15px;
    font-size: 1em;
    margin-top: 1%;
}